body{
  font-size: 16px;
  color: black;
  background-color:#ff8c66;
  font-family: 'Work Sans', sans-serif;
}

#header-nav {
  height: 65px;
  background-color:#ff6666;   
  border-radius: 0;
  border: 0;
  margin: 0;
  border-bottom: 1px solid black;
}


.navbar-brand{
  margin-left: 25px;
}
.container{
  padding: 0;
}
.navbar-brand h1{
  font-size: 1.5em;
  font-family: 'Work Sans', sans-serif;
  color: #ffff66  ;
  font-weight: bold;
  margin-top: 0;
}


#nav-list{
  margin-top: 0;
}
li{
  background-color:   #ff99cc ;
  margin:0;
}


#li-1, #li-2, #li-3{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right:1px solid black;
}


.navbar-header button.navbar-toggle{
  margin-right: 25px;
  border: 1px solid #ffff66 ;  
}
.navbar-header .icon-bar{
  border: 2px solid black;
}

#collapsable-nav{
  border: 0;
  margin: 0;
  padding-top: 0;
}

#nav-list a{
  color: #ffff66  ;
}

#menu{
  font-size: 35px;
  font-weight: bold;
  color: #ffff66  ;
}

section {
  margin: 10px;
  border: 1px solid black;
  height: auto;
  background-color:#ff668c    ;
  padding-left: 10px;
  padding-right: 10px;
}

h2{
  font-size: 30px;
  font-weight: bold;
}

    #sec1>h2{
      color:#eaaeae;
      text-align: center;
    }

    #sec2>h2{
      color:#d04949;
      text-align: center;
    }

    #sec3>h2{
      color: #ffdd99;
      text-align: center;
    }